$trans: 0.15s ease-in;
$trans1: 0.3s ease-in;

$white: #ffffff;
$black: #000000;
$success: #00f5a6;
$error: #f51616;

$color-1: #213f7d;
$color-2: #545f7d;
$color-3: rgba(84, 95, 125, 1);
$color-4: #39cdcc;
$color-4a: #39cdcc98;
$color-5: #213f7d;
$color-6: #e9b200;
$color-7: #e4033b;
$color-8: #39cd62;

$bg-1: rgba(57, 205, 204, 0.06);
$bg-2: rgba(33, 63, 125, 0.06);

$border-1: rgba(84, 95, 125, 0.15);

$box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
$box-shadow-2: 3px 5px 20px rgba(0, 0, 0, 0.04);

@keyframes fadeIn {
   from {
      opacity: 0;
      margin-top: 20px;
   }

   to {
      opacity: 1;
      margin-top: 0;
   }
}

$fade1: fadeIn 0.25s ease-in;
